#macroSubmitButton {
    flex: 1;
}

#macroUuidInput {
    flex: 10
}

.sceneMacrosComment {
    margin: 1% 0;
}

.sceneMacrosContainer {
    border-bottom-color: var(--color-fieldset-border);
    border-bottom-style: solid;
    border-bottom-width: 1px;
}

.sceneMacrosFieldset label {
    flex: 4 !important;
    line-height: 1 !important;
}

.sceneMacrosCopy {
    cursor: copy;
}

.sceneMacrosFieldset {
    max-height: 50vh;
    overflow-x: scroll;
}

.sceneMacrosFlex {
    align-items: center;
    display: flex;
    flex: 1 !important;
    gap: 4px;
    justify-content: flex-end;
}

.sceneMacrosFlex button {
    width: 2.5em;
}

