#macroSubmitButton {
    flex: 1;
}

#macroUuidInput {
    flex: 10
}

.sceneMacrosComment {
    margin: 1% 0;
}

.sceneMacrosContainer {
    border-bottom-color: var(--color-fieldset-border);
    border-bottom-style: solid;
    border-bottom-width: 1px;
}

.sceneMacrosCopy {
    cursor: copy;
}

.sceneMacrosFlex {
    align-items: center;
    display: flex;
    gap: 5%;
    justify-content: flex-end;
}

